.git
VOCdevkit/VOC2019

darknet/.circleci
darknet/.github
darknet/3rdparty
darknet/cfg
darknet/cmake
darknet/data
darknet/include
darknet/scripts
darknet/src

darknet/build/darknet/.vs/
darknet/build/darknet/*.vcxproj
darknet/build/darknet/*.user
darknet/build/darknet/*.sln
darknet/build/darknet/*.cs

darknet/*.gitignore
darknet/*.yml
darknet/*.ps1
darknet/*.sh
darknet/*.txt
darknet/*.in
darknet/*.py
darknet/LICENSE
darknet/Makefile

x64/weight/darknet53.conv.74

VOCdevkit/VOC2019/Annotations
VOCdevkit/VOC2019/images/train2014
VOCdevkit/VOC2019/ImageSets
VOCdevkit/VOC2019/labels/train2014


yolov3.weights
testfiles.tar.gz